// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//fonts

$mainFont:'Plus Jakarta Sans', sans-serif;

$medium:500;
$extrabold:800;

// colors

// ### Primary

$red: hsl(1, 90%, 64%);
$blue: #0a317b;

// ### Neutral

$white: hsl(0, 0%, 100%);
$very_light_grayish_blue: #f7fafd;
$light_grayish_blue_1: hsl(211, 68%, 94%);
$light_grayish_blue_2: hsl(205, 33%, 90%);
$grayish_blue: hsl(219, 14%, 63%);
$dark_grayish_blue: hsl(219, 12%, 42%);
$very_dark_blue: #1c202b;

$bodyColor:#000000;
$bodyBackground:$very_light_grayish_blue;

///breakpoint
$breakpoint-desktop-min: 1025px;
$breakpoint-mobile-max: 1024px;